<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Welcome to the party zone Where all views are welcome as long as they are respectful and productive</p>
            <hr class="my-4">
            <p>Sign up Below</p>
            <%= link_to "Sign up!", signup_path, class: "btn btn-info btn-lg" %>
        </div>
    </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
    <small>Copyright &copy; <%= link_to</small>
    </div>
</footer>